<mat-toolbar color="primary">
  <span class="logo" [routerLink]="['/']">🛍️ Mi Tienda</span>
  <span class="spacer"></span>
  <ng-container *ngIf="authService.isLoggedIn$ | async; else loginLink">
    <button mat-button (click)="logout()">Cerrar sesión</button>
  </ng-container>

  <ng-template #loginLink>
    <button mat-button [routerLink]="['/login']">Iniciar sesión</button>
  </ng-template>
  <button mat-icon-button [routerLink]="['/cart']">
    <mat-icon>shopping_cart</mat-icon>
    <span *ngIf="totalItems > 0" class="cart-count">{{ totalItems }}</span>
  </button>
</mat-toolbar>
